<div class="container advice-signal">
    <h2> {{ adviceSignal?.title }}</h2>
    <h6>{{ stringToDate(adviceSignal?.createDate) | date: 'd MMMM y' }}</h6>
    <h6>{{ (advice | async)?.clientName }}</h6>
    <div class="row klantge-first">
        <div class="col-sm-4">
            <h4>{{'klangegevens' | translate}}</h4>
        </div>
        <div class="col-sm-8">
            <div class="klantge" *ngFor="let param of adviceSignal?.klantgegevens?.paramters">
                <div class="klantge-paramname">{{param?.parmName}}</div>
                <div>&euro;{{param?.parmValue}}</div>
            </div>
        </div>
    </div>
    <div class="row klantge-first">
        <div class="col-sm-4">
            <h4>{{'beschrijving' | translate}}</h4>
        </div>
        <div class="col-sm-8">
            <p innerHTML="{{ adviceSignal?.description }}"></p>
        </div>
    </div>
    <div class="row">
        <button type="button" [routerLink]="['/']" class="btn btn-venster">{{'vensterSluiten' | translate}}</button>
    </div>
</div>